@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;         
  src: url("/src/font/Noto_Sans_KR/NotoSansKR-Regular.otf") format('opentype'),
  url("/src/font/Noto_Sans_KR/NotoSansKR-Regular.woff2") format('woff2'),
  url("/src/font/Noto_Sans_KR/NotoSansKR-Regular.woff") format('woff'),
  url("/src/font/Noto_Sans_KR/NotoSansKR-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 500;         
  src: url("/src/font/Noto_Sans_KR/NotoSansKR-Medium.otf") format('opentype'),
  url("/src/font/Noto_Sans_KR/NotoSansKR-Medium.woff2") format('woff2'),
  url("/src/font/Noto_Sans_KR/NotoSansKR-Medium.woff") format('woff'),
  url("/src/font/Noto_Sans_KR/NotoSansKR-Medium.ttf") format('truetype');
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;         
  src: url("/src/font/Noto_Sans_KR/NotoSansKR-Bold.otf") format('opentype'),
  url("/src/font/Noto_Sans_KR/NotoSansKR-Bold.woff2") format('woff2'),
  url("/src/font/Noto_Sans_KR/NotoSansKR-Bold.woff") format('woff'),
  url("/src/font/Noto_Sans_KR/NotoSansKR-Bold.ttf") format('truetype');
}

* {
  font-family: "NotoSansKR";
  font-weight: 400;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
